@import 'https://fonts.googleapis.com/css?family=Lato:100';
@import 'https://fonts.googleapis.com/css?family=Roboto';
html, body {
    font-family: 'Lato', sans-serif, "Times New Roman";
    height: 100%;
    margin: 0;
    font-size: 1.0vw;
}
h1 {
    margin-top: 0;
    margin-bottom: 1%;
    font-size: 3vw;
}

h2 {
    margin-top: 0;
}

#header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header0 {
    background: url('../../../resources/media/images/balloon-fest-baltinglass.jpg');
    background-size: cover;
}   

.header1 {
    background: url('../../../resources/media/images/carrigeen-sunset.jpg');
    background-size: cover;
}   

.header2 {
    background: url('../../../resources/media/images/cliffs-of-moher.jpg');
    background-size: cover;
}   

.header3 {
    background: url('../../../resources/media/images/ha-penny-bridge.jpg');
    background-size: cover;
}   

.header4 {
    background: url('../../../resources/media/images/nou-camp-barcelona-pitch-view.jpg');
    background-size: cover;
}   

#location-pin {
    width: 3.0vh;
    height: 3.0vh;
    display: inline;
}

#image-location {
    cursor: pointer;
    padding-right: 1%;
    margin-bottom: 5%;
    color: white;
    display: inline;
}

#location-container {
    cursor: pointer;
    position: absolute;
    bottom: 1%;
    text-align: right;
}

#headshot {
    /*Height of image*/
    margin-top: 15vh;
    width: 10.0vw;
    height: 10.0vw;
    /*Border and Making Image a circle*/
    border-radius: 50%;
    border-style: solid;
    border-width: 0.4vw;
    border-color: #ECECEC;
}

.full-width {
    width:100%;
}

.card {
    background-color: #ECECEC;
    border-radius: 0.4vw;
    padding: 3% 0 1% 0;
    margin: -3% 40% 0 40%;
    box-shadow: -1px 4px 82px 3px rgba(0, 0, 0, 0.42);
}

/* ------ Typed.js blinking cursor ------ */
.typed-cursor{
    opacity: 1;
    font-size: 2.0vw;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*------ End ------*/

#distraction {
    display: inline;
}

.behind {
    z-index: 1;
}

.in-front {
    z-index: 99999;
}
        /*Tablets*/
@media screen and (max-width: 770px) {
    html, body {
        font-family: 'Lato', sans-serif, "Times New Roman";
        height: 100%;
        margin: 0;
        font-size: 2vw
    }
    h1 {
        margin-top: 0;
        margin-bottom: 1%;
        font-size: 6vw;
    }

    h2 {
        margin-top: 0;
    }

    #navbar {
        display: none;
    }

    #header {
        position: relative;
        background-size: cover;
        height: 40vh;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }   

    #headshot {
        /*Height of image*/
        margin-top: 6%;
        width: 16%;
        height: 16%;
        /*Border and Making Image a circle*/
        border-radius: 50%;
        border-style: solid;
        border-width: 0.4vw;
        border-color: #ECECEC;
    }

    .card {
        background-color: #ECECEC;
        border-radius: 0.8vw;
        padding: 6% 0 1% 0;
        margin: -6% 30% 0 30%;
        box-shadow: -1px 4px 82px 3px rgba(0, 0, 0, 0.42);
    }

    #location-pin {
        width: 2vh;
        height: 2vh;
        display: inline;
    }
}
        /*Mobile Devices*/
@media screen and (max-width: 450px) {
    html, body {
        font-family: 'Lato', sans-serif, "Times New Roman";
        height: 100%;
        margin: 0;
        font-size: 2.0vw
    }
    h1 {
        margin-top: 0;
        margin-bottom: 1%;
        font-size: 6vw;
    }

    h2 {
        margin-top: 0;
    }
    #header {
        background-size: cover;
        height: 40vh;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }   

    #headshot {
        /*Height of image*/
        margin-top: 15%;
        width: 20%;
        height: 20%;
        /*Border and Making Image a circle*/
        border-radius: 50%;
        border-style: solid;
        border-width: 0.6vw;
        border-color: #ECECEC;
    }

    .card {
        background-color: #ECECEC;
        border-radius: 1vw;
        padding: 8% 0 1% 0;
        margin: -8% 30% 0 30%;
        box-shadow: -1px 4px 82px 3px rgba(0, 0, 0, 0.42);
    }

    #location-container {
        display: none;
    }
}