@import 'https://fonts.googleapis.com/css?family=Lato:100';
body {
    font-family: 'Lato', sans-serif, "Times New Roman";
    margin: 0;
    color: #5A5050;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

#main-content {
    position: absolute;
    min-height: 100%;
}

#container1 {
    height: inherit;
    display: block;
    z-index: 1;
}

#location {
    cursor: pointer;
    margin: 0;
    float: right;
    padding-right: 1vw;
}

#my-name {
    font-size: 4vw;
    margin-bottom: 0;
}

#place {
    color:white;
    position: absolute;
    width: 100%;
    top: 96vh;
}

#locator {
    cursor: pointer;
    float: right;
    width: 3vh;
    height: 3vh;
}

#my-name-black {
    font-size: 2.0vw;
    color: #000000;
    top: 23%;
}

#what-I-do {
    font-size: 2.0vw;
}

#hobby {
    display: inline;
    margin: 0;
}

#what-I-do-black {
    font-size: 2.0vw;
    text-align: center;
    width: 100%;
    top: 35%;
}

.block {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    color: #F0F0F0;
}

.absolute {
    position: absolute;
}

.full-width {
    width: 100%;
}

.center-text {
    text-align: center;
}

#headshot-container {
    /*Position*/
    top: 10vh;
    min-height: 20vh;
}

#headshot {
    margin-top: 5%; 
    /*Height of image*/
    width: 10%;
    height: 10%;
    /*Border and Making Image a circle*/
    border-radius: 50%;
    border-style: solid;
    border-width: 0.4vw;
    border-color: #ECECEC;
    box-shadow: -1px 4px 82px 3px rgba(0, 0, 0, 0.42);
}

#bg-image {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 705px;
    background-size: 100% 100%;
    transform: scale(1.1);
    -webkit-filter: blur(5px);
}


/*==================================================*/

#mess {
    top: 100%;
    z-index: 1;
    background-color: #E5EEC1;
}

#left {
    width: 33.3333%;
    height: 250px;
    float: left;
    background-color: #3EACA8;
}

#right {
    width: 33.3333%;
    height: 250px;
    float: left;
    background-color: #A2D4AB;
}


/*img {
    max-width: 100vw;
    max-height: 100vh;
    width: auto;
    height: auto;
}*/

#middle {
    max-width: 500px;
    width: 33.3333%;
    float: left;
    height: 250px;
    background-color: #6C5B7B;
}

#main-full-length {
    float: left;
    width: 100%;
    height: 400px;
    background-color: #5A5050;
}

#blah {
    z-index: 0;
    max-height: 100vh;
    display: block;
}

.fade {
    opacity: 0.3;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
    opacity: 1;
}

.rounder {
    padding: 0;
    border: 2px solid;
    text-align: center;
    border-radius: 20px;
    vertical-align: middle;
}

.card {
    margin-top: 11%;  
    background-color: #ECECEC;
    margin-right: 36%;
    margin-left: 36%;
    border-radius: 0.5vw;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: -1px 4px 82px 3px rgba(0, 0, 0, 0.42);
}

.floating-container {
    top: 0vh;
    position: absolute;
    width: 100%;
}

#headshot-wrapper {
    z-index: 2;
}

#card-wrapper {
    z-index: 0;
}
